body {
    background: black;
}
.container{
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > div {
    margin: 10px 0;
}
.main{
    width: 50%;
    display: flex;
    background-color: black;
}